body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 10%;
}
header{
    background-color: antiquewhite;
    color: black;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
}
header img{
    width: 100px;
    box-shadow: 0 0 10px 1px;
}
header button{
    background-color:antiquewhite;
    padding: 10px;
    border-radius: 5PX;
    border: none;
    box-shadow: 0 0 5PX 1PX;
}
header nav{
    margin-right: 100px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    padding: 30px 20px;
    padding: 10px;
}

header nav ul li button{
    padding: 5px;
}
.section{
    background-color: black;
    color: red;
    font-family: 'Annie Use Your Telescope';font-size: 40px;
    text-align: center;
    padding:  0 40px 0 50px ;
    border-radius: 50px;
}
.material-icons{
    color: red;
    padding: 20px 0;
    height: 20%;
    font-weight: 100px;
}
section nav ul{ 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    bottom: 10px;
    border-radius: 10px;

}
section nav ul button{
    background-color: red;
    border: 1px;
    color: black;
    font-weight: bold;
    padding: 15px;
    border-radius: 10%;
    box-shadow: 0 0 10px 1px;
    
}

section nav ul button:hover{
    background-color: blue;
    font-size: 18px;
    color: white;
    
  }
*{box-sizing: border-box}
.container1{
    padding: 16px;
  }
input[type=text],input[type=password],input[type=date]{
    width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: greenyellow;
    color: green;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px;
  }
  button{
    background-color: green;
    color: antiquewhite;
    padding: 20px;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
.h3{
    background-color: aqua;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }